@import "../../scss/variables";
@import "../../scss/mixins";

.sidemenu {
  width: 100%;
  background-color: $primaryColor;
  display: flex;
  flex-direction: column;
  position: relative;

  @include element(item) {
    padding: 22px;

    &:last-child {
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    &:hover,
    &.active {
      background-color: $hoverColor;
    }

    img {
      max-width: 38px;
    }
  }
}