/* ============= Colors ============= */
$primaryColor: #5cafb5;
$primaryMediumColor: #608a8b;
$primaryDarkColor: #546566;
$primaryLightColor: #c5d2d4;
$secondaryColor: #ededf8;
$secondaryLightColor: #f0f3f9;
$gray: #9C9C9C;
$grayMeduim: #ededed;
$grayDark: #4d4d4d;
$gray50: #666666;
$gray60: #d9d9d9;
$grayA: #aaaaaa;
$grayLight: #f0f0f0;
$darkCoral: #ce5b4c;
$blush: #e88282;
$white: #ffffff;
$black: #000000;
$hoverColor: #79c4ca;
$boxHover: #ecf2f2;

/* ============= Fonts ============= */
$extraLargFontSize: 1.125rem; //18px
$largFontSize: 1rem; //16px;
$baseFontSize: 0.875rem; //14px
$meduimFontSize: 0.75rem; //12px
$smallFontSize: 0.625rem; //10px