/* ============= Colors ============= */
$primaryColor: #5cafb5;
$primaryMediumColor: #608a8b;
$primaryDarkColor: #546566;
$primaryLightColor: #c5d2d4;
$secondaryColor: #ededf8;
$secondaryLightColor: #f0f3f9;
$gray: #9C9C9C;
$grayMeduim: #ededed;
$grayLight: #f0f0f0;
$darkCoral: #ce5b4c;
$blush: #e88282;
$white: #ffffff;
$black: #000000;
$hoverColor: #79c4ca;

/* ============= Fonts ============= */
$baseFontSize: 1rem; //16px;
$meduimFontSize: 0.875rem; //14px
$smallFontSize: 0.75rem; //12px